
.index-main {
    height: 100vh;
    padding-top: calc(50vh - 130px);
    text-align: center;
}

.index-main > h1 {
    font-size: 4rem;
    font-weight: lighter;
}

.index-main > h4 {
    font-size: 1.7rem;
    font-weight: normal;
}

.index-menu {
    margin: 20px auto;
    display: block;
    width: 240px;
    height: 60px;
}

.index-menu > a {
    width: 80px;
    display: block;
    padding: 8px;
    float: left;
    text-decoration: none;
    color: black;
}

.index-menu > a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.index-intro {
    margin: 20px auto;
    max-width: 60vw;
}

.index-intro > h1 {
    font-weight: normal;
    margin: 20px;
    text-align: center;
}