body {
    padding-top: 3.5rem;
}
#index-main {
    height: 100vh;
    padding-top: calc(50vh - 130px);
}
#home-menu .btn {
    width: 80px;
}
#scroll-down {
    display: block;
}
#scroll-down:hover {
    text-decoration: none;
}
